<!DOCTYPE html>
<html>
  <head>
    <title>Pascal</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Maundy | Comming Soon Page</title>
  <meta name="description" content="Bootstrap Theme">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/assets/jquery.countdown.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/application.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/cable.js"></script>
    <script src="/assets/contactform.js"></script>
    <script src="/assets/custom.js"></script>
    <script src="/assets/wow.js"></script>
    <link href="/assets/style.css" rel="stylesheet">
    <link href="/assets/animate.css" rel="stylesheet">
    <link href="/assets/application.css" rel="stylesheet">
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    >

  </head>

  <body>
    <%= yield %>
  </body>
</html>
